<!doctype html>
<html lang="en">

<head>
    <%- include("../partial/header") %>
</head>

<body>
    <%- include("../partial/navbar") %>


        <%- include("../partial/footer") %>
            <%- include("../partial/scripts") %>
</body>

</html>